.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: whitesmoke;
  background-color: coral;
  border: 1px solid tomato;
  border-radius: 2rem;
}

.btn:hover {
  background-color: chocolate;
}

.btn:active {
  background-color: coral;
}

.appBar {
  padding: 1.5rem 1rem;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.appBar h1 {
  font-size: 1.5rem;
}
