<header id="app-bar" class="px-10 py-6 flex justify-between">
  <!-- Navigation -->
  <nav class="flex items-center gap-12">
    <a href="#">
      <img class="w-14 aspect-square" src="./assets/logo.png" alt="logo" />
    </a>
    <ul class="flex gap-8 font-medium">
      <li><a href="#library">Library</a></li>
      <li><a href="#latest-content">Subjects</a></li>
      <li><a href="#featured-content">Paths</a></li>
    </ul>
  </nav>

  <!-- Action Buttons -->
  <div class="flex gap-4 items-center">
    <button class="btn">Sign in</button>
    <button class="btn btn-primary">Join Pro</button>
  </div>
</header>
