<article
  class="px-8 pt-14 pb-12 bg-white rounded-2xl min-w-[24rem] max-w-sm space-y-10"
>
  <div>
    <span class="text-blue-500 font-bold uppercase">Pro only</span>
    <h4 class="text-2xl text-gray-800 font-bold">Super Fast Data Nesting</h4>
  </div>
  <p class="font-medium text-slate-400">
    Nesting huge amount of data like comments? Here's a unique technique
    combining API data and frontend logic to make it a breeze.
  </p>
  <div class="flex gap-4">
    <span
      class="px-3 py-1 text-lg font-medium bg-gray-200 rounded-lg text-slate-500"
      >Laravel</span
    >
    <span
      class="px-3 py-1 text-lg font-medium bg-gray-200 rounded-lg text-slate-500"
      >Vuex</span
    >
  </div>
  <button
    class="btn btn-primary btn-xl w-full flex justify-between items-center"
  >
    Watch Now <i class="fa-solid fa-circle-play"></i>
  </button>
</article>
