<section
  id="hero"
  class="min-h-[calc(100vh-110px)] text-center flex flex-col items-center justify-center gap-8 relative"
>
  <h1 class="text-6xl font-bold">
    Ready to build <br />
    something awesome?
  </h1>
  <p class="text-xl font-medium text-slate-400">
    We create practical screencasts for awesome developers.
  </p>
  <input
    id="search"
    name="search"
    type="search"
    placeholder="| Search our library, e.g. Learn React"
    class="px-6 py-4 min-w-[45rem] w-3/4 text-xl border-2 border-gray-200 rounded-lg shadow-lg focus:border-blue-500 outline-none"
  />
  <div class="w-20 h-2 bg-blue-400 absolute left-0 bottom-0"></div>
</section>
