<section id="latest-content" class="h-screen flex items-center gap-14">
  <div class="min-w-fit">
    <h2 class="text-4xl font-bold">Latest Content</h2>
    <p class="my-4 text-xl font-medium text-slate-400">
      Fresh from the library
    </p>
    <button class="my-8 text-2xl text-blue-500">
      Browse everything <i class="fa fa-arrow-right-long"></i>
    </button>
  </div>

  <!-- Lecture List -->
  <div class="flex gap-10 overflow-hidden">
    <!-- Card 1 -->
    <card-1 import="./components/course-card.html"></card-1>
    <!-- Card 2 -->
    <card-2 import="./components/course-card.html"></card-2>
    <!-- Card 3 -->
    <card-3 import="./components/course-card.html"></card-3>
  </div>
</section>
