<section id="library" class="py-16 flex justify-between gap-12">
  <div class="space-y-6">
    <h2 class="text-4xl font-bold">Practical project to get you ahead.</h2>
    <p class="text-xl font-medium text-slate-400">
      Rather than just teaching theory, we focus on real code to inspire your
      next project. Learning should be boring so let's have some fun.
    </p>
  </div>

  <button
    class="btn btn-primary btn-2xl place-self-end whitespace-nowrap"
    onclick="document.getElementById('search').focus()"
  >
    <i class="fa fa-magnifying-glass"></i>
    Browse Library
  </button>
</section>
