<section
  id="testimony-1"
  class="px-20 py-16 flex gap-10 bg-blue-100 rounded-xl"
>
  <img
    src="./assets/testimony-1.avif"
    class="w-[124px] aspect-square rounded-full object-cover object-top place-self-start"
  />
  <div class="space-y-6">
    <p class="text-xl text-cyan-600">
      My career started as a designer. Out of necessity I needed to learn how to
      handle entire stack. Codecourse took me from basically no knowledge of
      development to being able to handle every aspect of it.
    </p>

    <p class="text-md text-lg text-cyan-600 font-medium">
      Josh Stobbs, Ontario, Canada anvildesigne.ca
    </p>
  </div>
</section>
