<section
  id="testimony-1"
  class="px-20 py-16 flex gap-10 bg-blue-100 rounded-xl"
>
  <img
    src="./assets/testimony-1.avif"
    class="w-[124px] aspect-square rounded-full object-cover object-top place-self-start"
  />
  <div class="space-y-6">
    <p class="text-xl text-cyan-600">
      I credit Codecourse as the single most beneficial learning resource to my
      development career. When I was learning my first programming language,
      Codecourse taught me how to develop complex applications and introduce me
      to fundamentals. Now I develop complex applications and I'm a senior
      developer with my company. You putin the effort, Codecourse brings the
      knowledge!
    </p>

    <p class="text-md text-lg text-cyan-600 font-medium">
      Mark Townsend, Houston, TX(@mtownsend5512)
    </p>
  </div>
</section>
