<section
  id="unlimited-plan"
  class="px-32 py-16 flex gap-10 justify-between bg-blue-500 rounded-xl"
>
  <div class="space-y-8 text-white max-w-96">
    <h2 class="text-4xl font-bold leading-normal">
      Unlimited access to everything with pro membership.
    </h2>
    <p>
      For the price of a few coffees a month you get access to our entire
      library of content, and more.
    </p>
  </div>
  <button
    class="px-10 py-4 font-medium rounded-lg shadow hover:shadow-lg active:shadow-inner text-xl bg-white text-blue-500 place-self-center whitespace-nowrap"
  >
    See Plans
  </button>
</section>
